html[data-theme='light'] {
	--gray50: #f9fafb;
	--gray100: #f3f4f6;
	--gray200: #e5e7eb;
	--gray300: #d1d5db;
	--gray400: #9ca3af;
	--gray500: #6b7280;
	--gray600: #4b5563;
	--gray700: #374151;
	--gray800: #1f2937;
	--gray900: #111827;

	--blue100: #e1e9fb;
	--blue200: #c3d3f7;
	--blue300: #a4bdf2;
	--blue400: #85a7ee;
	--blue500: #6691ea;
	--blue600: #4f7cde;
	--blue700: #3f68c1;
	--blue800: #3055a2;
	--blue900: #2a61db;

	--success: #22c55e;
	--warning: #f59e0b;
	--error: #ef4444;

	--bg-color: rgba(243, 244, 246);
	--ac-bg-color: rgb(249 250 251);
	--ac-text-color: var(--blue900);
	--content-bg: #fff;
	--text-color: #111827;
	--border-color: #e5e7eb;
}

html[data-theme='dark'] {
	--gray50: #181a1f;
	--gray100: #1f2228;
	--gray200: #262a30;
	--gray300: #2d323a;
	--gray400: #4b5563;
	--gray500: #6b7280;
	--gray600: #9ca3af;
	--gray700: #d1d5db;
	--gray800: #e5e7eb;
	--gray900: #f9fafb;

	--blue100: #e1e9fb;
	--blue200: #c3d3f7;
	--blue300: #a4bdf2;
	--blue400: #85a7ee;
	--blue500: #6691ea;
	--blue600: #4f7cde;
	--blue700: #3f68c1;
	--blue800: #3055a2;
	--blue900: #2a61db;

	--success: #22c55e;
	--warning: #fbbf24;
	--error: #f87171;

	--bg-color: #1f2228;
	--ac-bg-color: rgb(142, 175, 246);
	--ac-text-color: var(--blue900);
	--content-bg: #2d323a;
	--text-color: #f9fafb;
	--border-color: #262a30;
}
