.cardFooterRoot {
	display: flex;
	justify-content: space-between;

	border-top: rem(2) solid var(--grey500);
}

.variant {
	&_default {
		padding: var(--spacing-base) var(--spacing-x2);
	}

	&_large {
	}

	&_cell {
		padding: var(--spacing-base) rem(6);
	}
}

.footerPart {
	@include body-bold;
}
