.calendarCellRoot {
	padding: var(--spacing-x2);
	border: rem(2) solid var(--blue300);
	border-radius: var(--xs-rounding);

	width: 100%;

	.small {
	}

	.default {
	}

	.large {
	}

	.cell {
	}
}

.variant {
	&_small {
	}

	&_default {
	}

	&_large {
	}

	&_cell {
	}
}
