.dayCardRoot {
	background-color: var(--content-bg);
	transition: background-color 200ms ease;

	&:hover .header {
		background-color: var(--ac-bg-color);
	}

	&:hover .header.today {
		background-color: var(--blue100);
	}

	@include dark {
		&:hover .header {
			background-color: var(--gray200);
		}

		&:hover .header.today {
			background-color: var(--blue100);
		}
	}

	.header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		padding: var(--spacing-x2) 0 var(--spacing-base);

		.day,
		.date {
			display: block;
		}

		.day {
			@include body-medium;
			color: var(--secondary-text-color);
		}

		.date {
			@include xlarge-medium;
		}
	}

	.today {
		background-color: var(--blue100);

		.day,
		.date {
			color: black;
		}

		&:hover {
			background-color: var(--blue200);
		}
	}

	.dayCardBody {
		padding: var(--spacing-base);
		display: flex;
		flex-direction: column;
		gap: var(--spacing-x2);

		border-top: 1px solid var(--border-color);

		.title {
			@include body-medium;
			color: var(--secondary-text-color);

			text-transform: uppercase;

			padding-left: rem(4);
			margin-bottom: rem(4);
		}

		.notesWrapper {
			display: flex;
			flex-direction: column;
			gap: rem(4);
		}
	}

	.emptyDayCard {
		min-height: rem(87);

		border-top: 1px solid var(--border-color);
		background-color: var(--gray50);

		@include dark {
			background-color: var(--gray300);
		}
	}
}

.month {
	.header {
		padding: var(--spacing-base) 0 rem(4);

		.day {
			@include small-medium;
		}

		.date {
			@include large-medium;
		}
	}

	.dayCardBody {
		gap: rem(4);
	}
}
