.calendarRoot {
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		margin-bottom: var(--spacing-x4);

		.titleWrapper {
			.title {
				@include header4;
				font-weight: 600;
			}

			.date {
				@include body-regular;
				color: var(--secondary-text-color);
			}
		}

		.actionsWrapper {
			display: flex;
			gap: var(--spacing-x2);
		}
	}

	.content {
		.calendar {
			.calendarHeader {
				display: flex;
				justify-content: space-between;
				align-items: center;

				padding: var(--spacing-x2);
				border-bottom: 1px solid var(--border-color);

				.action {
					width: rem(24);
					height: rem(24);

					cursor: pointer;

					& svg {
						width: 100%;
						height: 100%;

						& path {
							stroke: var(--secondary-text-color);
						}
					}
				}

				.date {
					@include xlarge-medium;
				}
			}
		}

		.calendarGrid {
			background-color: var(--border-color);

			.days,
			.week {
				display: grid;
				gap: 0.8px;
				background-color: var(--border-color);
			}
			.days {
				grid-template-columns: repeat(3, 1fr);
			}

			.week {
				grid-template-columns: repeat(7, 1fr);
			}
		}
	}
}
