.calendarRoot {
	width: 100%;

	.title {
		text-align: end;
		margin-bottom: var(--spacing-base);
	}

	.calendarGrid {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		grid-template-rows: repeat(6, auto);
		grid-template-areas: 'mon tue wed thu fri sat sun';

		.dayCardWrapper {
			height: 100%;
			padding: rem(4);
			border-radius: rem(16);
			transition: scale 100ms ease;

			&:hover {
				scale: 1.03;

				& .dayCard {
					box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
				}
			}
		}

		.dayCard {
			height: 100%;
		}

		.isToday article {
			border-color: var(--blue900);
			border: rem(1) solid var(--blue900);
		}

		.mon {
			grid-area: mon;
		}

		.tue {
			grid-area: tue;
		}

		.wed {
			grid-area: wed;
		}

		.thu {
			grid-area: thu;
		}

		.fri {
			grid-area: fri;
		}

		.sat {
			grid-area: sat;
		}

		.sun {
			grid-area: sun;
		}

		.week1 {
			grid-row: 1 / 2;
		}

		.week2 {
			grid-row: 2 / 3;
		}

		.week3 {
			grid-row: 3 / 4;
		}

		.week4 {
			grid-row: 4 / 5;
		}

		.week5 {
			grid-row: 5 / 6;
		}

		.week6 {
			grid-row: 6 / 7;
		}
	}
}
