@use '/src/styles/index.scss' as *;

// Card Preview Grid
.card-preview {
	display: grid;
	gap: rem(16);
	padding: rem(16);
	grid-template-columns: 1fr;

	@include tablet {
		grid-template-columns: 1fr 1fr;
	}

	@include desktop {
		grid-template-columns: repeat(3, 1fr);
	}
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	border-radius: rem(16);
	overflow: hidden;

	background-color: var(--card-bg);
	color: var(--text-color);
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);

	transition:
		box-shadow 0.3s ease,
		background-color 0.3s ease,
		color 0.3s ease;

	&--cell {
		font-size: rem(14);
	}

	&--deafault {
		font-size: rem(14);
	}

	.dayOff .date {
		color: var(--gray900);
	}

	.cardHeader,
	.cardBody,
	.cardFooter {
		display: flex;
		flex-direction: column;
		gap: rem(8);
		padding: rem(8);
	}

	.cardHeader {
		flex-direction: row;
		padding: rem(8) rem(12) rem(6);
		border-bottom: 1px solid var(--border-color);
	}

	.cardFooter {
		border-top: 1px solid var(--border-color);
	}

	.dayOff {
		background-color: var(--blue700);
	}

	.date {
		font-weight: 600;
		color: var(--blue900);
	}

	.event {
		font-weight: bold;
	}

	// ---------- BREAKPOINTS ----------
	@include mobile {
		font-size: 0.9rem;
	}

	@include tablet {
		font-size: 1rem;
	}

	@include desktop {
		font-size: 1.05rem;
		max-width: 32rem;
	}
}
