.headerRoot {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;

	padding-top: var(--spacing-x2);
	padding-inline: var(--spacing-x2);
	padding-bottom: var(--spacing-x2);

	border-bottom: rem(2) solid var(--blue700);

	.logo {
		display: flex;
		justify-content: center;
		align-items: center;

		h1 {
			margin: 0;
		}
	}

	.navigation {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;

		& a {
			display: block;
		}
	}
}
