.headerRoot {
	display: flex;
	justify-content: space-between;

	align-items: center;

	padding-top: var(--spacing-x2);
	padding-inline: var(--spacing-x2);
	padding-bottom: var(--spacing-x2);

	border-bottom: rem(1) solid var(--gray200);
	box-shadow: var(--dark-shadow);
	background-color: var(--content-bg);

	h1 {
		@include cursive;
		margin: 0;
	}

	.themeToglge {
		width: fit-content;
	}
}
